<div class="container">
    <h2>
        details du Pokemon !
    </h2>
    <div class="col-md-6 name">
        <p>Nom : {{(pokemonDetail | async)?.name}}</p>
    </div>
    <div class="col-md-6">
        <img [src]="(pokemonDetail | async)?.sprites.front_default">
    </div>
    <p>Poid : {{(pokemonDetail | async)?.weight}}</p>
    <div *ngFor="let ability of (pokemonDetail | async)?.abilities">
        Ability : {{ability.ability.name}}
    </div>




    <a class="btn btn-primary" [routerLink]="['/']">retour</a>
</div>